{% extends 'base.html' %}
{% block content %}
  <!-- recent posts -->
  <h1 class="pt-4 text-uppercase text-bold text-info ">category - {{category}}</h1>

  <main role="main" class="container p-0 ">
    <div class="row">
      {% for post in posts %}
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="card border-1" >
            <div class="card-body" style="min-height: 180px;" >
              <h3> <a class="text-dark" href="{% url 'blogs' post.slug %}"> {{post.title}}</a></h3>
              <small class="mb-1 text-muted"> {{post.author}}</small>
              <p class="card-text">{{post.short_description | truncatewords:20}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </main>
  
</div>

{% endblock %}