
{% extends 'base.html' %}

{% block content %}

<div class="row">
    <!--left sidebar-->
    {% include 'leftSideBar.html' %}

    {% load crispy_forms_tags %}
    <!--right sidebar-->
    <div class="col-md-9">
        <h3 > Edit Categories</h3>
        <!--catis came from dashboard views and id is category primary key , waha is model auto generate -->
    <form action="{% url 'editCategoryPage' cat.id %}" method="POST" style=" width: 400px; " >
        {% csrf_token %}
        {{form | crispy }} 
        <button type="submit"  class="btn btn-primary">Submit</button>

    </form>

        

    </div>
</div>


{% endblock %}