
{% extends 'base.html' %}

{% block content %}

<div class="row">
    <!--left sidebar-->
    {% include '../dashbord/leftSideBar.html' %}
    <!--right sidebar-->
    <div class="col-md-9">
        <h3> All Categories </h3>
        <a href="{% url 'addCategoryPage' %}" class="btn btn-dark float-right mb-2 ">Add New Category</a>
        

        <table class="table table-hover">
            <thead>
              <tr>
                <th >Id</th>
                <th >Category Name</th>
                <th >Created</th>
                <th >Updated</th>
                <th> Action</th>
              </tr>
            </thead>

            <tbody>
                {% for cat in categories %}
              <tr>
                <th >{{ forloop.counter }}</th>
                <td>{{cat.category_name}}</td>
                <td>{{cat.created_at}}</td>
                <td>{{cat.updated_at}}</td>
                                                        <!-- here is id primary key of category-->
                <td> <a href="{% url 'deleteCategoryPage' cat.id %}" class="text-danger ">  Delete  </a> |<a href="{% url 'editCategoryPage' cat.id %}" class="text-success "> Edit</a> </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

    </div>
</div>


{% endblock %}